# virtual environments
adas_env/
adas_xai_env/

# datasets (DO NOT UPLOAD)
dataset/
dataset_binary/
dataset_multiclass/

# trained models (DO NOT UPLOAD)
*.keras
*.h5

# python cache
__pycache__/
*.pyc
