# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
adas_clean_env/
adas_xai_env/

# ---------- Datasets (IMPORTANT) ----------
dataset/
multiclass_dataset/
test/
*.zip

# ---------- Large files ----------
*.h5
*.keras

# ---------- OS / Editor ----------
.DS_Store
Thumbs.db
.vscode/
.idea/

